<nav class="navbar navbar-expand navbar-dark bg-dark">
  <ul class="navbar-nav" style="padding-left: 15%;">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://trade.mql5.com/trade?servers=">Trade</a>
    </li>
  </ul>
</nav>
<div>
    <h1 class="header text-center" style="margin-top: 15px;">Welcome to Djangular</h1>
</div>
<div style="padding-left: 15%; padding-right: 15%;">
    <router-outlet></router-outlet>
</div>

<div>
    <div class="container">
      <p class="text-center"><span class="nb">To the FT9ja Team: </span>If you find the table empty, please refresh after a while as heroku often spin down their server after 15 minutes of it being idle.</p>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted">© 2022 FT9ja Assessment By Ubon Patrusm</span>
          </div>
        </footer>
      </div>
</div>